<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <redis xdt:Transform="Replace" db="2" />
  <innaTour apiKey="9330a9a2-1167-4ec4-932a-97a08b4e8449" partner="igsystems" />
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
  </system.web>
  <elmah>
    <errorMail xdt:Transform="Remove"/>
  </elmah>
  <connectionStrings xdt:Transform="Replace">
    <add name="Generic" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=tour_st;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="Elmah" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=tour_api_st_elmah;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <elmah>
    <errorMail xdt:Transform="Remove" />
  </elmah>

  <MeerkatConfiguration configSource="config\meerkat.stage.config" xdt:Transform="SetAttributes(configSource)" />
</configuration>