@model string

<body>
<div>
    Ваш код для авторизации в приложении: @Model<br/>
    Код действителен в течение 5 минут.<br/>
    Traveland вас запомнит, поэтому не нужно будет каждый раз вводить этот код. Если Traveland забудет про вас или понадобится войти с другого устройства — перейдите в список ваших туров, введите почту и получите новый код.
</div>
</body>