<?xml version="1.0"?>

<MeerkatConfiguration>
  <Static>
    <add key="CacheKeyPrefix" value="tour" />
    <add key="Domain" value="tour.igstest.ru" />
    <add key="MembershipProvider" value="Meerkat.UserProfile.Web.MeerkatMembershipProvider, Meerkat.UserProfile" />
    <add key="LocalStoragePath" value="http://tour.igstest.ru/file/{0}" />
    <add key="LocalStoragePhysicalPath" value="~/storage" />
    <add key="CachingEnabled" value="false" />
    <add key="Database" value="Meerkat.Core.Database, Meerkat.Core" />
    <add key="Configuration" value="Meerkat.Core.Configuration, Meerkat.Core" />
    <add key="Factory" value="Meerkat.Core.Factory, Meerkat.Core" />
    <add key="LoggingEnabled" value="false" />
    <add key="Module.SocialNetworks"
         value="Meerkat.SocialNetworks.ISocialNetworksModule, Meerkat.SocialNetworks;Meerkat.SocialNetworks.SocialNetworksModule, Meerkat.SocialNetworks" />
    <add key="SocialNetwork.Facebook"
         value="fb;Meerkat.SocialNetworks.FacebookSocialNetwork, Meerkat.SocialNetworks.Facebook;igtemplate.local;235568496628839;235568496628839;0e8eb6cbae9ce4e29769c8efa9afd372" />
    <add key="FacebookPrivacyOptions"
         value="vk;Meerkat.SocialNetworks.VkontakteSocialNetwork, Meerkat.SocialNetworks.Vkontakte;igtemplate.local;3360545;3360545;vmpYMVDv7SMudm6xXZQn" />
    <add key="SocialNetwork.Vkontakte"
         value="vk;Meerkat.SocialNetworks.VkontakteSocialNetwork, Meerkat.SocialNetworks.Vkontakte;igtemplate.local;4298873;4298873;U8cedc0zW06qRx8mibby" />
    <add key="VkontaktePrivacyOptions"
         value="vk;Meerkat.SocialNetworks.VkontakteSocialNetwork, Meerkat.SocialNetworks.Vkontakte;igtemplate.local;3360545;3360545;vmpYMVDv7SMudm6xXZQn" />
    <add key="Repository" value="EF.DAL.EFRepository, EF.DAL" />
    <add key="InnaTourHost" value="http://api-partner.inna.ru/api/package" />
    <add key="InnaTourPatnerName" value="igsystems" />
    <add key="IpAddress" value="88.198.13.106" />
    <add key="Module.File" value="Meerkat.Core.File.IFileModule, Meerkat.Core; Meerkat.File.FileModule, Meerkat.File" />
    <add key="Module.FileStorage"
         value="Meerkat.Core.File.IStorage, Meerkat.Core; Meerkat.File.Storage.LocalStorage, Meerkat.File" />
    <add key="ApplePushNotificationProdEnabled" value="false" />
    <add key="AppleDevCert" value="TourParseDevelopmentPushCertificate.p12" />
    <add key="AppleProdCert" value="TourParseProductionPushCertificate.p12" />
    <add key="Api.BookInna" value="https://api.bookinna.ru" />
    <add key="BookApi.BookInna" value="https://book-api.bookinna.ru" />
    <add key="BookinnaApikey" value="9330a9a2-1167-4ec4-932a-97a08b4e8449" />
    <add key="PayCallbackRelativeUrl" value="/paycallback/{0}" />
    <add key="IsTestPay" value="false"/>
    <add key="IsTestOrder" value="false"/>
    <add key="TourProvider.BookInna.ApiKey" value="9330a9a2-1167-4ec4-932a-97a08b4e8449" />
    <add key="TourProvider.BookInna.Partner" value="igsystems" />
    <add key="RedisHost" value="localhost" />
    <add key="RedisDb" value="1" />
  </Static>
</MeerkatConfiguration>